html, body {
    height: 100% !important;
    width: 100% !important;
}

body {
    padding-top: 50px;
    font-size: 1.7em;
}

#home {
    color: #ffffff;
}

#home nav {
    margin-bottom: 0;
}

footer {
    color: #ffffff;
    background-color: #222;
    border-color: #080808;
}

.totop {
    font-size: 3em;
}

.v-center {
    display: table;
    height: 100%;
    width: 100%;
}

.v-content {
    display: table-cell !important;
    vertical-align: middle;
    font-size: 1.25em;
}

.slide {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: 0.125em 0.125em 0.188em rgba(0, 0, 0, 1.0);
}

.slide .container-fluid {
    height: 100%;
}

.between {
    z-index: 10;
    height: auto;
    background-color: #7F0700;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.69);
    text-align: left;
    overflow: auto;
}

#slide1 {
    background-image: url(../img/bkg/1.jpg);
}

#slide2 {    

}

#slide3 {
    background-image: url(../img/bkg/2.jpg);
}

#slide4 {    

}

#slide5 {
    background-image: url(../img/bkg/3.jpg);
}

#roster td, #roster th {
    text-align: center;
}